.error {
  color: red;
}
.icon {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  cursor: pointer;
}
.otpfield {
  width: 40px;
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
}
